@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html,
body {
  width: -moz-fit-content;
  width: fit-content;
  height: 100svh;
  /* scroll-snap-type: proximity; */
  /* scroll-behavior: smooth; */
  background-color: var(--arc-palette-background, rgb(228 228 231 / 1));
  color: var(--arc-palette-foregroundPrimary, rgb(24 24 27 / 1));
}

.navIcon,
.navIcon svg path {
  color: var(--arc-palette-foregroundPrimary, rgb(24 24 27 / 1));
  background-color: transparent;
  stroke: var(--arc-palette-foregroundPrimary, rgb(24 24 27 / 1));
}

.active,
.active svg path,
.navIcon:hover,
.navIcon:hover svg path {
  color: var(--arc-palette-background, rgb(228 228 231 / 1)) !important;
  stroke: var(--arc-palette-background, rgb(228 228 231 / 1));
  background-color: var(
    --arc-palette-foregroundPrimary,
    rgb(24 24 27 / 1)
  ) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

#fullscreen {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100svh !important;
  z-index: -10;
  margin: 0;
}

.splash {
  background-color: var(--arc-palette-background, rgb(228 228 231));
}

.focused {
  color: var(--arc-palette-maxContrastColor, rgb(24 24 27 / 1));
}

.light {
  color: var(--arc-palette-focus, rgb(24 24 27 / 1));
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: var(--arc-palette-background, rgb(24 24 27 / 1));
    color: var(--arc-palette-foregroundPrimary, rgb(217 249 157 / 1));
  }

  .navIcon,
  .navIcon svg path {
    color: var(--arc-palette-foregroundPrimary, rgb(217 249 157 / 1));
    background-color: transparent;
    stroke: var(--arc-palette-foregroundPrimary, rgb(217 249 157 / 1));
  }

  .active,
  .active svg path,
  .navIcon:hover,
  .navIcon:hover svg path {
    color: var(--arc-palette-background, rgb(24 24 27 / 1)) !important;
    stroke: var(--arc-palette-background, rgb(24 24 27 / 1)) !important;
    background-color: var(
      --arc-palette-foregroundPrimary,
      rgb(217 249 157 / 1)
    );
  }

  .splash {
    background-color: var(--arc-palette-background, rgb(24 24 27));
  }

  .focused {
    color: var(--arc-palette-maxContrastColor, rgb(217 249 157 / 1));
  }

  .light {
    color: var(--arc-palette-focus, rgb(217 249 157 / 1));
  }
}
