@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: var(--arc-palette-title, #e0e0e0); */
    --background: #e0e0e0;
    --foreground: var(--arc-palette-cutoutColor, #131313);

    --card: var(--arc-palette-title, #e0e0e0);
    --card-foreground: var(--arc-palette-cutoutColor, #131313);

    --popover: var(--arc-palette-title, #e0e0e0);
    --popover-foreground: var(--arc-palette-cutoutColor, #131313);

    --primary: 0 0% 9%;
    --primary-foreground: var(--arc-palette-foregroundSecondary, #e2e2e2);

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--arc-palette-foregroundSecondary, #e2e2e2);

    --border: var(--arc-palette-hover, #878787);
    --input: 0 0% 89.8%;
    --ring: var(--arc-palette-cutoutColor, #131313);

    --radius: 0.5rem;
  }

  .dark {
    /* --background: var(--arc-palette-backgroundExtra, #131313); */
    --background: #131313;
    --foreground: var(--arc-palette-foregroundSecondary, #e2e2e2);

    --card: var(--arc-palette-backgroundExtra, #131313);
    --card-foreground: var(--arc-palette-foregroundSecondary, #e2e2e2);

    --popover: var(--arc-palette-backgroundExtra, #131313);
    --popover-foreground: var(--arc-palette-foregroundSecondary, #e2e2e2);

    --primary: var(--arc-palette-foregroundSecondary, #e2e2e2);
    --primary-foreground: 0 0% 9%;

    --secondary: var(--arc-palette-background, #000000);
    --secondary-foreground: var(--arc-palette-foregroundSecondary, #e2e2e2);

    --muted: var(--arc-palette-background, #000000);
    --muted-foreground: 0 0% 63.9%;

    --accent: var(--arc-palette-background, #000000);
    --accent-foreground: var(--arc-palette-foregroundSecondary, #e2e2e2);

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--arc-palette-foregroundSecondary, #e2e2e2);

    --border: var(--arc-palette-background, #464646);
    --input: var(--arc-palette-background, #000000);
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --tempo: 645.1612903225806ms;
  --font-mono: "Fira Code", monospace;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  font-family: "Delius", cursive;
  letter-spacing: 0.038em;
  width: 100dvw;
  /* height: 100%; */
  overflow-x: hidden;
  height: 100dvh !important;
  overscroll-behavior: none;
  /* overflow: hidden; */
}

html,
body {
  background: var(--background);
  color: var(--arc-palette-focus, #000);
}

/* .gradient {
  background-repeat: no-repeat;
  background: linear-gradient(
    180deg,
    var(--arc-palette-hover, #b7b7b7) 0%,
    var(--arc-palette-title, #e0e0e0) 15%
  );
} */

body {
  @apply relative selection:bg-[var(--arc-palette-focus,_#000)] selection:text-[var(--arc-palette-title,_#e0e0e0)] dark:selection:bg-[var(--arc-palette-focus,_#e2e2e2)] dark:selection:text-[var(--arc-palette-title,_#131313)];
}

.nav-link:hover > *,
.active > * {
  @apply text-[#e0e0e0] opacity-90 dark:text-black dark:opacity-90;
}

.nav-link:hover,
.active {
  @apply bg-current bg-opacity-20 font-extrabold;
}

.item {
  @apply border-foreground bg-foreground bg-opacity-20 text-background shadow-md [&>div]:mix-blend-difference;
}

a {
  color: inherit;
  text-decoration: underline;
}

.dark {
  background: var(--background);
  color: var(--arc-palette-foregroundSecondary, #e2e2e2) !important;

  /* .gradient {
    background: linear-gradient(
      180deg,
      var(--arc-palette-background, #000000) 0%,
      var(--arc-palette-backgroundExtra, #131313) 15%
    ) !important;
  } */
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    @apply dark;
  }
}

/* *::-webkit-scrollbar {
  display: none;
} */

input[type="range"] {
  -webkit-appearance: none !important;
  appearance: none !important;
  cursor: pointer !important;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none; /* Centers thumb on the track */
  background-color: currentColor;
  height: 1.25rem;
  width: 0.25rem;
}

.loading::after {
  display: inline-block;
  animation: dotty steps(1, end) 1s infinite;
  content: "";
}

@keyframes dotty {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
