@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  font-family: "Delius", cursive;
  letter-spacing: 0.038em;
  width: 100%;
  height: 100dvh;
  overscroll-behavior: none;
  overflow: hidden;
}

html {
  background-color: var(--arc-palette-title, #ece3e3ff);
  background: linear-gradient(
    180deg,
    var(--arc-palette-hover, #d4bdbe) 0%,
    var(--arc-palette-title, #ece3e3ff) 15%
  );
  color: var(--arc-palette-focus, #a27777);
  background-repeat: no-repeat;
}

.nav-link:hover > *,
.active > * {
  @apply mix-blend-plus-lighter dark:mix-blend-difference;
}

.nav-link:hover,
.active {
  @apply border-transparent bg-current;
}

a {
  color: inherit;
  text-decoration: underline;
}

.dark {
  background-color: var(--arc-palette-backgroundExtra, #060a0c);
  background: linear-gradient(
    180deg,
    var(--arc-palette-background, #121a20) 0%,
    var(--arc-palette-backgroundExtra, #060a0c) 15%
  ) !important;
  color: var(--arc-palette-cutoutColor, #405c6f) !important;
}

@media (prefers-color-scheme: dark) {
  html {
    @apply dark;
  }
}

*::-webkit-scrollbar {
  display: none;
}

input[type="range"] {
  -webkit-appearance: none !important;
  appearance: none !important;
  cursor: pointer !important;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none; /* Centers thumb on the track */
  background-color: currentColor;
  height: 1.25rem;
  width: 0.25rem;
}

.cemetery_c {
  background-color: #060a0c !important;
  --arc-palette-cutoutColor: #ff4e4e !important;
  background: linear-gradient(180deg, #121a20 0%, #060a0c 15%) !important;
  color: #ff4e4e !important;

  & .track {
    background-color: #060a0caa !important;
    color: #ff4e4e !important;

    &:hover {
      background-color: #060a0c !important;
    }
  }
}
